#navbar {
    background-color: #698b69;
    
}
html {
    scroll-behavior: smooth;
}

body {
    background-color: #ffefdb;
}

text {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#home {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    font-size: 20px;
}

#about {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    
}

#confess {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    
}

#analyse {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}

#help {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}

#contact {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}

#searchbar {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
} 

#searchbtn {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    margin-top: 50px;
    font-size: 20px;
    padding-left: 80px;
    
}

.container1 {
    background-color: #698b69;
    width: 600px;
    height: 600px;
    border-radius: 10px;
    margin-top: 100px;
    margin-left: 400px;
    justify-content: space-around;
    flex-direction: row;
    display: flex;
    box-shadow: #2f4f4f 7px 7px 7px;
}

#name {
    width: 40px;
    height: 20px;
    margin-top: 150px;
    margin-right: 100px;
    border-width: 3px;
    border-color: black;
    border-radius: 5px;
    width: 150px;
    transition: ease-out 0.2s;
    position: absolute;
    left: 480px;
    top: 160px;
}
