{% extends 'index.html' %}

{% block content %}
      <div id="section1">
        <div class="container1">
            <h1>
                OpenMind. An efficient counselling platform. 
            </h1>
        </div>
      </div>
      <div id="section2">
        <div class="container2">
            <h2>
               OpenMind is an organisation that promotes the wellbeing of everyone, especially those that are underprivilaged. 
            </h2>
            <div class="container3">
                <button class="btn1">
                <a href="about.html"  target="blank">
                    Click here to go to our About page
                </a>
            </button>
        </div>
        </div>
        </div>
      </div>

{% endblock %}