{% extends "index.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'post.css')}}">


<h1> Hello </h1>



<div class="shadow p-3 mb-5 bg-body rounded">
    <p>By: {{ post.poster.name }}</p><br/>
    <p>{{ post.date_posted }}</p><br/>
    <p>{{ post.content }}</p><br/>
    
    <a class = "btn btn-secondary"href = "{{ url_for('views.reply', id=post.id)}}">Reply to this post</a>
    <br>
    {% for reply in replies %}
    <br>
    <div class="post">
    
    <p style="font-size: 15px; margin-left: 20px; margin-top: 30px;">{{reply.repliers.name}} says:</p>
    <p style="margin-left: 20px;">{{reply.text}}</p>
    
    </div>
    {% endfor %}
</div>
    





{% endblock %}


